@media all {

  /* CONFIGURACIÓN */

  /* Página*/
  @page {
    margin: 0cm;
    padding: 0.5cm 0 0 0;
  }

  /* Títulos */
  /*#title-block-header {
    margin-top: 10%;
  }*/

  h1 {
    page-break-before: always;
    text-align: center;
    color: var(--color-titulo-1);
    font-size: 2.7em;
  }

  body>h2 {
    color: var(--color-titulo-2);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }


  /* Enlaces */
  a {
    text-decoration: none;
    color: var(--color-enlace);
    font-weight: 600;
  }

  /* Índice */
  

  .nav-toggle {
    display: none;
  }
  

  #TOC a {
    color: #967637;
  }

  #TOC>ul>li>ul>li a {
    color: var(--color-texto-1);
  }

  /*FIN--DE--CONFIGURACIÓN*/


  /* CLASES PROPIAS */

  .tarjeta {
    background-color: #fcfcfc;
    color: black;
    border-radius: 9px;
    margin: 10px 0;
    padding: 8px;
  }



  /*FIN--DE--CLASES--PROPIAS*/


  /* Cuerpo */
  body {
    font-family: 'Zekton Regular', zekton, zekton-regular;
    background-color: var(--color-fondo) !important;
    color: var(--color-texto-1) !important;;
  }
  

  #main {
    grid-column: 2;
    height: 100%;
    overflow: auto;
  }

  /* Blockquotes */
  blockquote {
    background-color: var(--alt-color-fondo);
    color: var(--blockquote-text-color);
    border: 1px solid;
    border-color: var(--blockquote-border-color);
  }
  
  /* Matemáticas */
  math {
    font-size: 1.4em;
    margin: 0 .2em;
  }

  /* Tareas */
  .task-list {
    list-style: none;
  }


  /* Footnotes */
  .footnotes {
    page-break-before: avoid;
    page-break-inside: avoid;
  }

  a.footnote-ref>sup {
    font-weight: bold;
    text-decoration: underline;
  }

  /*.footnotes::before {
    content: "Referencias";
    font-size: 1.3em;
    font-weight: bold;
    color: var(--color-titulo-2);
  }*/


  .footnote-back {
    margin-left: 0.2em;
    font-size: 1.4em;
  }
}

/* CÓDIGO */
code:not(.sourceCode) {
  color: var(--color-titulo-1);
  font-weight: 500;
  background-color: #272626;
  padding: 0.1em 0.3em;
  border-radius: 0.5em;
  /*! border: 1px solid var(--color-enlace); */
}

div.sourceCode {
  font-family: "Fira Code", fira-code, monospace;
  font-weight: 500;
  color: var(--color-texto-2);
  background-color: var(--alt-color-fondo);
  margin: 1em 0;
  padding: 0.5em 0.3em;
  border-radius: 0.5em;

  position: relative;
}

div.sourceCode>pre {
  overflow: auto;
}

div.sourceCode button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;

  font-size: 1.2em;
  font-weight: 900;
  padding: 0.05em 0.2em;
  border-radius: 5px;
  background-color: inherit;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity .4s linear;
}

div.sourceCode:hover button {
  visibility: visible;
  opacity: 1;
  color: var(--blockquote-text-color);
  border: solid 1px;
  border-color: var(--blockquote-border-color);
}

div.sourceCode button:hover {
  transition: all 0.6s ease-in-out;
  cursor: pointer;
  color: #ffb454; /*176288*/
  border-color: #aaa;
  background-color: #2c2c2c;
}

.sourceCode .co {
  color: #515c66;
}



/* FIN--DE--CÓDIGO */


/*  Especifico de impresión*/

@media print {
  h1 {
    margin-top: 5%;
  }

  .task-list input::before {
    display: inline;
    content: '☐';
    color: var(--color-titulo-2);
  }

  .task-list input:checked::before {
    display: inline;
    content: '☑';
    color: var(--color-titulo-2);
  }


  /* Impresora sin color */

  @media print and (color: 0) {
    * {
      background-color: white;
      color: black;
    }
  }
}


/* Táctil */

@media screen and (any-hover: none) {
  div.sourceCode button {
    visibility: visible;
    opacity: 1;
    color: var(--blockquote-text-color);
    border: solid 1px;
    border-color: var(--blockquote-border-color);
  }
}

/* Pantallas grandes */

@media screen and (width > 20cm) {
  body {
    
    display: grid;
    grid-template-columns: 20% auto;
    row-gap: 2em;
    column-gap: 1.5em;

  }
  
  header {
    grid-column: 2;
    position: sticky
  }
  
  nav {
    grid-column: 1;

    
    background-color: var(--alt-color-fondo);
    width: 20%;
    
    font-size: .8rem;
    
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }

  
  nav h2 {
    text-align: center;
  }
  
}